$color: rgb(215, 224, 33);
$background-color-body: rgb(55, 75, 21);
$background-color-board: yellow;
$alive-color: white;
$alive-hover-color: rgb(147, 240, 40);
$border-color: rgb(26, 18, 18);
$cell-size: 1rem;

.wrapper {
  overflow-x: hidden;
  width: 100%;
}
body {
  color: $color;
  background-color: $background-color-body;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
span {
  display: flex;
  align-self: flex-start;
  font-size: 2rem;
  line-height: 1rem;
}
table {
  margin: 0 auto 20px auto;
  border-collapse: collapse;
  background-color: $background-color-board;
}

td {
  width: $cell-size;
  height: $cell-size;
  border: 1px solid $border-color;
}

.alive {
  background-color: $alive-color;

  &:hover {
    background-color: $alive-hover-color;
  }
}

.dead {
  &:hover {
    background-color: $border-color;
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 90%;
 
}
button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 18px;
  color: $color;
  margin-right: 2rem;
  margin-bottom: 1rem;
  
  background-color: $border-color;
  cursor: pointer;

  &:hover {
    color: $alive-hover-color;
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}


.sliders{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  margin-bottom: 1rem;

}
label{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}


.dead {
  background: rgb(103, 119, 94);
}

.alive {
  background: yellow;
}

input[type="range"] {
  display: flex;
  cursor: pointer;
  width: 20rem !important;
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-appearance: none;
  z-index: 200;
  transform: rotate(180deg);
  width: 50px;
  height: 10px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-color: rgb(108, 230, 9);

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#e6e6e6),
    to(#d2d2d2)
  );
  background-image: -webkit-linear-gradient(right, #e6e6e6, #743b3b);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
}
input[type="range"]::-webkit-slider-thumb {
  width: 0.8px;
  appearance: sliderthumb-horizontal;
  height: 1.2px;
  cursor: pointer;
  background-color: #c5550b;
  box-shadow: 0px 0 0 8px #1c3b58;
  border-radius: 12px;
  z-index: -1;
}
.n-generations {
  width: 3rem;
  
}

h2 {
  color: rgb(108, 226, 171);
}

label {
  margin-right: 1rem;
}

.about{
  text-align: justify;
  line-height: 1.5rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 90%;
}

.rules{
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: justify;
  line-height: 1.5rem;
  margin: 0 auto;
  width: 90%;
}

h1{
  margin: 0 auto;
  text-align: center;

}

.board {
  width: 80%;
  margin: 0 auto;
}